---
import type { Page, GetStaticPathsOptions } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getUniqueTags, sortMDByDate } from "@/utils";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import Pagination from "@/components/Paginator";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const getPosts = await getCollection("post");
	const allPosts = getPosts.filter(({ data: { draft } }) => !draft);
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { props: { uniqueTags }, pageSize: 10 });
}

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page, uniqueTags } = Astro.props;

const meta = {
	title: "Posts",
	description:
		"A collection of posts that I wrote to sharing my knowledge of various topcis such as TypeScript, React, Node.js and more!",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous Posts`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next Posts →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Posts</h1>
	<div class="flex flex-col gap-2">
		{
			uniqueTags.length && (
				<aside class="basis-auto">
					<h2 class="mb-4 flex items-center text-lg font-semibold">Explore by Tags</h2>
					<ul class="flex flex-row flex-wrap gap-2 text-bgColor">
						{uniqueTags.map((tag) => (
							<li>
								<a
									class="flex items-center justify-center bg-accent px-2 py-1 duration-300 ease-in-out hover:rounded-xl"
									href={`/tags/${tag}`}
									aria-label={`View all posts with the tag: ${tag}`}
								>
									{tag}
								</a>
							</li>
						))}
					</ul>
					<span class="mt-4 block">
						<a class="sm:hover:text-accent" href="/tags" aria-label="View all blog categories">
							View all →
						</a>
					</span>
					<hr class="my-2" />
				</aside>
			)
		}
		<section aria-label="Blog post list">
			<ul class="flex flex-col gap-8">
				{
					page.data.map((p) => (
						<li class="flex flex-col gap-2 rounded-xl border-2 border-accent p-2">
							<PostPreview post={p} as="h2" withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>
