---
import PageLayout from "@/layouts/Base";
import { getUniqueTagsWithCount } from "@/utils";
import { getCollection } from "astro:content";

const meta = {
	title: "All Tags",
	description: "All tags from my blog posts",
};

const allPosts = await getCollection("post");
const allTags = getUniqueTagsWithCount(allPosts);
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Tags</h1>
	<ul class="flex flex-wrap gap-4 text-bgColor">
		{
			allTags.map(([tag, val]) => (
				<li class="bg-accent p-2 duration-300 ease-in-out hover:rounded-xl">
					<a class="text-lg" href={`/tags/${tag}`} title={`View posts with the tag: ${tag}`} rel="prefetch">
						{tag} ({val})	
					</a>
 				</li>
			))
		}
	</ul>
</PageLayout>

