---
import PageLayout from "@/layouts/Base";
import { getUniqueTagsWithCount } from "@/utils";
import { getCollection } from "astro:content";
import TagList from "@/components/TagList";

const meta = {
	title: "All Tags",
	description:
		"Discover tags from my learning journey blog: JavaScript, TypeScript, React, Docker, Next.js, Redux, CSS, Python, Linux, CI/CD, React Hooks, System Design.",
};

const allPosts = await getCollection("post");
const allTags = getUniqueTagsWithCount(allPosts);
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Tags</h1>
	<ul class="flex flex-wrap gap-4 text-bgColor">
		{
			allTags.map(([tag, val]) => (
				<TagList>
					<a
						class="text-lg"
						href={`/tags/${tag}`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						{tag} ({val})
					</a>
				</TagList>
			))
		}
	</ul>
</PageLayout>
