---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getUniqueYears, sortMDByDate, setPaginationProps } from "@/utils";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import BackToLast from "@/components/BackToLast";
import Pagination from "@/components/Paginator";
import PostPreivewList from "@/components/blog/PostPreivewList";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const allPosts = await getCollection("post");
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueYears = getUniqueYears(allPostsByDate);

	return uniqueYears.flatMap((year) => {
		const filterPosts = allPostsByDate.filter((post) => {
			const date = new Date(post.data.publishDate).toISOString().split("-")[0];
			return date === year;
		});

		return paginate(filterPosts, {
			params: { year },
			pageSize: 30,
		});
	});
};

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;
const { year } = Astro.params;

const meta = {
	title: `Year: ${year}`,
	description: `View all posts with the year - ${year}`,
};

const paginationProps = setPaginationProps(page);
---

<PageLayout meta={meta}>
	<BackToLast>
		<a href="/archive" class="text-link sm:hover:underline">Year:</a>
		<span class="ml-2 text-xl">#{year}</span>
	</BackToLast>
	<section aria-label="Blog post list">
		<ul class="space-y-4 pb-4">
			{
				page.data.map((p) => (
					<PostPreivewList>
						<PostPreview post={p} as="h2" />
					</PostPreivewList>
				))
			}
		</ul>
		<Pagination {...paginationProps} />
	</section>
</PageLayout>
