---
import PageLayout from "@/layouts/Base";
import TechStack from "@/components/TechStack";
import { getPinnedProjects } from "@/utils";
import { projectDetails } from "@/data/projects";
import { Icon } from "astro-icon/components";

const projects = await getPinnedProjects();

const meta = {
	title: "Projects",
	description:
		"A list of projects that I have built with TypeScript, Next.js, Node.js, Express, and more!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">{meta.title}</h1>
	<section class="flex flex-col gap-6">
		{
			projects.map(({ name, description, url, stargazerCount }) => (
				<a href={`${url}#readme`} target="_blank" rel="noopener noreferrer">
					<article class="space-y-4 overflow-hidden rounded-lg border-2 border-accent p-4 duration-300 ease-in-out hover:border-transparent">
						<div class="flex justify-between">
							<h2 class="text-xl md:text-2xl">{name}</h2>
							<span class="flex items-center gap-1">
								{stargazerCount}
								<Icon name="ph:star-fill" />
							</span>
						</div>
						<p class="italic">"{description}"</p>
						{projectDetails
							.filter(({ title }) => title === name)
							.flatMap(({ techs }) => (
								<TechStack techs={techs} />
							))}
					</article>
				</a>
			))
		}
	</section>
</PageLayout>
