---
import type { CollectionEntry } from "astro:content";
import { getFormattedDate, getReadingTime } from "@/utils";

interface Props {
	content: CollectionEntry<"post">;
}

const { content } = Astro.props;
const postDate = getFormattedDate(content.data.publishDate);
---

<h1 class="title mb-3 sm:mb-1">{content.data.title}</h1>
<time datetime={postDate}>{postDate}</time> | <span>{getReadingTime(content.body)} min read</span>
{
	!!content.data.tags?.length && (
		<div class="mt-1 sm:mt-0 sm:inline sm:before:content-['|']">
			{content.data.tags.map((tag, i) => (
				<>
					<a
						class="cactus-link inline-block before:content-['#']"
						aria-label={`View more blogs with the tag ${tag}`}
						href={`/tags/${tag}`}
					>
						{tag}
					</a>
					{i < content.data.tags.length - 1 && ", "}
				</>
			))}
		</div>
	)
}
