---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate, getReadingTime } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "h3", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const postDate = getFormattedDate(date);
---

<a href={`/posts/${post.slug}`} class="text-xl hover:text-link" rel="prefetch">
	<Element>
		<time datetime={postDate} class="text-sm tracking-tight">{postDate}</time> |
		{post.data.title} -
		<span class="text-sm tracking-tight">{getReadingTime(post.body)} min read</span>
	</Element>
</a>
