---
import { Image } from "astro:assets";
import siteConfig from "@/site-config";
import type { SiteMeta } from "@/data/siteMeta";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Header";
import ThemeToggle from "@/components/ThemeToggle";
import SocialList from "@/components/SocialList";
import Menu from "@/components/Menu";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<script is:inline define:vars={{ siteConfig }}>
			const root = document.documentElement;
			const colorThemeMetaTag = document.querySelector("meta[name='theme-color']");

			function getThemePreference() {
				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
			}

			const isDark = getThemePreference() === "dark";

			const observer = new MutationObserver(() => {
				const rootIsDark = root.classList.contains("dark");
				colorThemeMetaTag.setAttribute(
					"content",
					siteConfig[rootIsDark ? "themeColorDark" : "themeColorLight"],
				);
				if (typeof localStorage !== "undefined") {
					localStorage.setItem("theme", rootIsDark ? "dark" : "light");
				}
			});
			observer.observe(root, { attributeFilter: ["class"] });

			// initailse root class attribute
			root.classList.toggle("dark", isDark);
		</script>
	</head>
	<body>
		<nav class="bg-gray-900 py-8">
			<div class="mx-auto w-11/12 max-w-5xl">
				<section class="flex">
					<div class="h-12">
						<Image
							width={220}
							height={52}
							loading="eager"
							src="/images/victoriacheng15_logo.png"
							alt="victoriacheng15 logo"
						/>
					</div>
					<ThemeToggle />
				</section>
				<hr class="my-4" />
				<Menu isInHeader={true} />
			</div>
		</nav>
		{title === "Home" && <Header />}
		<main class="mx-auto w-11/12 max-w-5xl py-12">
			<slot />
		</main>
		<footer class="mt-auto bg-gray-900 py-8 text-slate-100">
			<div class="mx-auto w-11/12 max-w-5xl">
				<div class="mb-10 flex w-full justify-around gap-10 md:flex-col">
					<Menu isInHeader={false} />
					<SocialList isInHeader={false} />
				</div>
				<p class="text-center">
					Copyright &copy; {new Date().getFullYear()}
					<span aria-label="penguin emoji">🐧</span>
					Victoria Cheng
				</p>
			</div>
		</footer>
	</body>
</html>
